{% extends "OnTrackWebsite/base_template.html" %}
{% block content %}
<br>
<div class="col-md-10">

        <br>
        <strong>Funding</strong>
        <br> 
        <br> This [On Track Study] work was supported through the Canadian Institutes of Health Research (MOP # 119276, 2012–2017) and the Patient Centered Outcomes Research Institute (PCORI) Award (# 5321, 2013–2016). The funders have had no involvement in study design, data collection, data analysis, manuscript preparation, and/or publication decisions. 
        <br>
        <br> The statements presented in this work are solely the responsibility of the authors and do not necessarily represent the views of either the Canadian Institutes of Health Research or the Patient-Centered Outcomes Research Institute (PCORI), including its Board of Governors or Methodology Committee.  
        <br> 
        <br> 
        <strong>On Track Study Collaboration Group</strong>
        <br>
        <br>
        Academic Researchers:
        <br>
        Doreen Bartlett, Canada
        Sarah Westcott McCoy, United States
        Lisa Chiarello, United States
        Robert J. Palisano, United States
        Lynn M. Jeffries, United States
        Alyssa Fiss, United States
        Jan Willem Gorter, Canada
        Steven Hanna, Canada
        Kristie Bjornson, United States
        Cheryl Kerfeld, United States
        Lisa Avery, Canada
        <br> 
        <br>       
        Parent Researchers:
        <br>
        Lisa Diller, United States
        Paula Drew, United States
        Nancy Ford, United States
        Marquitha K. Gilbert, United States
        tina hjorngaard, Canada
        Kimberly Rayfield, United States
        Barbara Sieck Taylor, United States
        <br>
        <br>
        Regional: 
        <br>
        Jennifer Miller, United States
        Amanda Porter, United States
        Tracy Stoner, United States
        Erin English Wentz, United States
        Allison Yocum, United States
        <br>
        <br>
        Study Coordinators:
        <br>
        Barb Galuppi, Canada
        Monica Smersh, United States
        <br>
        We thank the participating children and families, whose continued involvement made the On Track study possible. We also acknowledge the important contributions of the regional coordinators as well as the 90 therapists across North America who assessed children during the course of the study.
        <br> 
        <br>
        <strong>Included Resources</strong>
        <br>
        <br>
        Interpretation of Developmental progress for the Gross Motor Function Measure (GMFM) has been added to this resource with permission. Interpretation is based on GMFM data collected in the research studies listed below: 
        <br> 1. Rosenbaum PL, Walter SD, Hanna SE, et al. Prognosis for gross motor function in cerebral palsy: creation of motor development curves. JAMA. 2002;288:1357-1363.
        <br> 2. Hanna SE, Rosenbaum PL, Bartlett DJ, et al. Stability and decline in gross motor function among children and youth with cerebral palsy aged 2 to 21 years. Dev Med Child Neurol. 2009;51:295-302.
        <br> 
        This Calculator for Interpreting Developmental Progress is owned by McMaster University and is protected by copyright and may only be used for personal, non-commercial clinical, non-commercial research and non-commercial educational purposes.   The term "non-commercial," as used here, means personal, clinical, academic or other scholarly research and education which (a) is not undertaken for profit, or (b) is not intended to produce works, products, services, or data for commercial use, or (c) is neither conducted, nor funded, by a person or an entity engaged in the commercial use, application or exploitation of works similar to the measures and resources as found on this website.  Any commercial use requires permission and a separate agreement.  For more information please contact,  canchild@mcmaster.ca.
        <br> 
        <br> 
        <br> 
        Copyright © 2018 CanChild, McMaster University.
        <br> 
        <br> 
        <br> 
        

</div>
return <a href="/home/">Home</a>
<br> 
<br> 
<br> 
{% endblock content %}