
{% extends "OnTrackWebsite/base_template.html" %}
{% block content %}

<form action="/checkin/" method="post">
    {% csrf_token %}
    <br>
    <br>
    <div class="container">
        <center>
        <div style = "border: 1px solid black">
            <br> <strong>Patient's previous & current age should be 9-15 months apart</strong>
            <br>
            <br>
            Patient age at previous visit: &#160; {{form.patient_age_yr1}} &#160; [yr] &#160;
            {{form.patient_age_mo1}} &#160; [mo]
            <br>
            <br>
            Patient age now: &#160; {{form.patient_age_yr2}} &#160; [yr] &#160;
            {{form.patient_age_mo2}} &#160; [mo]
            <br>
            <br>
            GMFCS level: &#160; {{form.GMFCS}}
            <br>
            <br>
        </div>
        <br>
        <input type="submit" class="text-success" style="font-weight: bold" value= "Next step" ></center>
    </div>
</form>


<!-- 


<form action="/patient-age/" method="post">
        
        <br><label for="patient_age_yr"><strong>Patient age: </strong></label>
        <input id="patient_age_yr" type="text" name="patient_age_yr" value="{{ current_age_yr }}">
        <label for="patient_age_yr">(year)</label>
        <input id="patient_age_mo" type="text" name="patient_age_mo" value="{{ current_age_mo }}">
        <label for="patient_age_mo">(month)</label>
        
        <br><label for="GMFCS"><strong>GMFCS: </strong></label>
        <input id="GMFCS" type="text" name="GMFCS" value="{{ current_GMFCS }}">
        <br><div class="container">
            <input type="submit" class="text-success" value= "Check in" >
        </div>

    </form> -->
<br>
<br>


{% endblock content %}

