
{% extends "OnTrackWebsite/base_template.html" %}
{% block content %}

<form action="/checkin/" method="post">
    {% csrf_token %}
    <br>
    <br>
    <div class="container">
        <center>
        <div style = "border: 1px solid black">
            <br> <strong>Patient's previous & current age should be 9-15 months apart</strong>
            <br>
            <br>
            Patient age at previous visit: &#160; {{form.patient_age_yr1}} &#160; [yr] &#160;
            {{form.patient_age_mo1}} &#160; [mo]
            <br>
            <br>
            Patient age now: &#160; {{form.patient_age_yr2}} &#160; [yr] &#160;
            {{form.patient_age_mo2}} &#160; [mo]
            <br>
            <br>
            GMFCS level: &#160; {{form.GMFCS}}
            <br>
            <br>
        </div>
        <br>
        <input type="submit" class="text-success" style="font-weight: bold" value= "Next step" ></center>
    </div>
</form>


<br>
<br>


{% endblock content %}

