{% extends "OnTrackWebsite/base_template.html" %}
{% block content %}

<a href="/checkin/"class="text-success" style="font-weight: bold"> Check In!</a>
<br>
<br>

How to Use this Website for Interpreting Developmental Progress:
<div class="col-md-12">
        <br>
        <strong><u>Step one:</u></strong>
        <br>
        <br>
        Enter information from a visit into the Assessment Data Entry check in sheet. This can be found by navigating to 'Check in' in the header or at the bottom of this page.
        <br>
        <br>
        Assessment Forms and Training Videos for the Measures  can be found on the <a href="https://www.canchild.ca/en/research-in-practice/current-studies/on-track" style="font-weight: bold"> On Track Study Website</a>. For FSA, SAROMM, EASE and Impact of Health Conditions, enter average scores to one decimal place. For the ECAB, enter the total Score. For the two CEDL indices, enter the scaled scores to one decimal place. For 6MWT enter the closest full integer value in feet.  
        <br>
        <br>
        This calculator will determine percentile scores on each of the measures based on a child’s age and GMFCS level so make sure to enter these correctly. Also, if information is entered from an assessment 9-15 months prior to the current assessment then the percentiles corresponding to that assessment will be calculated along with an indication of how the child is progressing relative to peers. Children are classified as 'Progressing as Expected' if their percentile change scores are within what was observed for the central 80% of On Track study participants. Those with percentile change in the bottom 10% are classified as ‘Progressing Less than Expected’ and those with percentile change in the top 10% are classified as ‘Progressing More than Expected’.
        <br>
        <Br>
        <strong><u>Step two:</u></strong>
        <br>
        <br>
        The calculator will output a PDF with the Check Up (visuals). Print or Save this file to use for discussions with families.
</div>
<br>
<br>


{% endblock content %}