

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            {% for row in results %}
                {% if row.0 == '*' %}
                    <img src="/media/asIcon.png">
                {% else %}
                    <img src="/media/blankIcon.png">
                {% endif %}
                {% if row.1 == '*' %}
                    <img src="/media/asIcon.png">
                {% else %}
                    <img src="/media/blankIcon.png">
                {% endif %}
                {% if row.2 == '*' %}
                    <img src="/media/moreIcon.png">
                {% else %}
                    <img src="/media/blankIcon.png">
                {% endif %}
                <h1>{{r}}</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}