

{% block extra_style %}
    <style>
        body {
            font-family: "Helvetica", "sans-serif";
            font-weight: 300;
            line-height: 0px
        }
        h1.title {
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            padding: 5px 5px 5px 5px;
            line-height: 25px
        }
        div.rowBox {
            height: 30px;
            width: 200px;
        }
        div.iconBox {
            border: 1px solid black;
            height: 20px;
            width: 20px;
        }
        div.box {
            padding: 5px 5px 5px 5px;
        }
        table {
            border: 1px solid black;
        }
        th.info {
            border: 1px solid black;
            text-align: left;
            height: 100px
        }
        th.progress {
            border: 1px solid black;
            text-align: center;
        }
        td.title {
            border: 1px solid black;
            width: 300px;
            height: 100px;
            vertical-align: top;
            line-height: 1;
        }
        td.icon {
            border: 1px solid black;
            width: 100px;
            height: 100px;
            margin: auto;
            text-align: center;
        }
        tr {
            height: 100px;
        }
        p.descriptionText {
            font-weight: lighter;
            font-size: 14px;
            line-height: 1;
            vertical-align: top;
            padding: 5px 5px 5px 5px;
        }
        img {
            width: 60%
        }

    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">

            <table>
                <tr>
                    <th class="info">
                        
                    </th>
                    <th class="progress">
                        <img src="/media/progressingLessText.PNG">
                    </th>
                    <th class="progress">
                        <img src="/media/progressingAsText.PNG">
                    </th>
                    <th class="progress">
                        <img src="/media/progressingMoreText.PNG">
                    </th>
                </tr>
                {% for row in results %}
                    <tr>
                        <td class="title" >
                                <h1 class="title"> {{ row.title }} </h1>
                                <p class="descriptionText"> {{ row.description }} </p>
                        </td>
                        
                        <td class="icon">
                            {% if row.progress.0 == '*' %}
                                <img src="/media/lessIcon.png">
                            {% else %}
                                <img src="/media/blankIcon.png">
                            {% endif %}
                        </td>

                        <td class="icon">
                            {% if row.progress.1 == '*' %}
                                <img src="/media/asIcon.png">
                            {% else %}
                                <img src="/media/blankIcon.png">
                            {% endif %}
                        </td>
                        <td class="icon">
                            {% if row.progress.2 == '*' %}
                                <img src="/media/moreIcon.png">
                            {% else %}
                                <img src="/media/blankIcon.png">
                            {% endif %}
                        </td>
                    </tr>
                        
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}